<%= content_for :title, "Inicio" %>

<div class="homepage">
  <div class="hero hero-first">
      <div class="container">
        <h1>Atención al Ciudadano <span>El Carchi</span></h1>
        <p>
          Bienvenido al lugar donde podrá realizar todos los trámites con el Gobierno de la Prefectura del Carchi, Ecuador. 
        </p>
      </div>
  </div>

  <div class="hero hero-second">
      <div class="container">
        <div class="box">
          <div class="inner">
            Accede a distintos <b>trámites de la Prefectura de Carchi</b>, Ecuador. Puedes pedir una <b>Audiencia</b> con el Prefecto, una petición de Reforestación de Plantas Autóctonas a <b>Medio Ambiente</b> o inscribirte a una de las <b>Actividades</b> o cursos que realiza la Casa de la Juventud.
          </div>
        </div>
      </div>
  </div>

  <div role="main" class="hero-first">
    <div class="container">
      <div class="row row1">
        <div class="span4 col3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Audiencia</h3>
            </div>
            <div class="panel-body"> Solicitud de audiencia con la autoridad de la Prefectura del Carchi.  </div>
            <div class="panel-footer">
              <% ev_audie = Event.type_audience.first %>
              <% if ev_audie %>
                <%= link_to "Realizar solicitud", new_inscription_path(event_id: ev_audie), class: "btn btn-primary pull-left" %>
                  <br>
                  <br>
              <% end %>
            </div>
          </div>
        </div>
        <div class="span4 col3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Medio Ambiente</h3>
            </div>
            <div class="panel-body"> Solicitud a la dirección de Medio Ambiente de plantas autoctonas para reforestación. </div>
            <% ev_trees = Event.type_trees.first %>
            <div class="panel-footer">
              <% if ev_trees %>
                <%= link_to "Realizar solicitud", new_inscription_path(event_id: ev_trees), class: "btn btn-primary pull-left" %>
                <br>
                <br>
              <% end %>
            </div>
          </div>
        </div>
        <div class="span4 col3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Casa de la Juventud</h3>
            </div>
            <div class="panel-body">
              Solicitud de inscripción en actividades y cursos de la Casa de la Juventud y Cultura.
            </div>
            <div class="panel-footer">
              <%= link_to "Ver actividades", juventud_path, class: "btn btn-primary pull-left" %>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>