<!-- MEDIOAMBIENTE PLANTAS -->
<fieldset>
  <legend>Plantas a solicitar</legend>

  <div class="row nested-fields title">
    <div class="col-md-4"> <b> Especie </b> </div>
    <div class="col-md-4"> <b> Cantidad </b> </div>
    <div class="col-md-2"> </div>
  </div>
  <div id="inscriptions_plant">
    <%= f.semantic_fields_for :inscriptions_plants do |inscription_plant| %>
      <%= render 'inscriptions_plant_fields', f: inscription_plant %>
    <% end %>
    <div class="links">
      <%= link_to_add_association '+ agregar planta', f, :inscriptions_plants %>
    </div>
    <br>
    <br>
  </div>
</fieldset>
