// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_admin_extras";

$skinLogo: url("logo-header-admin.png") no-repeat 0 0;
$skinActiveColor: #2F9B45;
$skinHeaderBck: #237434;
$panelHeaderBck: #237434;

@import "active_skin";
@import "fullcalendar";

body {
  font-size: 100%;
}

#header h1 img, #footer {
  display: none;
}

#header ul.tabs > li {
  font-size: 14px;
}

.hide {
  display: none;
}

.button-danger {
  background: #c0392b none repeat scroll 0% 0% !important;
}

.cke_chrome {
  width: 79.5% !important;
  overflow: hidden;
}


.fc-event-container a {
  color: #FFF 
}

.fc-event.status-pending {
  color: #000;
  border: 1px solid #f1c40f !important;
  background-color: #f1c40f !important;
}

.fc-event.status-ok {
  border: 1px solid #237434 !important;
  background-color: #237434 !important;
}

.fc-event.status-ko {
  border: 1px solid #c0392b !important;
  background-color: #c0392b !important;
}

.fc-state-default.fc-corner-left {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.fc-state-default.fc-corner-right {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.fc-basicWeek-button {
  border-radius: 0px;
}

#session_new label {
  width: 30%;
}

body.logged_out #login form fieldset input[type="text"], body.logged_out #login form fieldset input[type="email"], body.logged_out #login form fieldset input[type="password"] {
  width: 60%;
}
