// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_admin_extras";

$skinLogo: url("logo-header-admin.png") no-repeat 0 0;
$skinActiveColor: #2F9B45;
$skinHeaderBck: #237434;
$panelHeaderBck: #237434;

@import "active_skin";

#header h1 img {
  display: none;
}

.hide {
  display: none;
}

.button-danger {
  background: #c0392b none repeat scroll 0% 0% !important;
}
