// Place all the styles related to the Inscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "Roboto",sans-serif;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#new_inscription legend {
  margin-bottom: 20px;
}

#inscription_born_at_input legend {
  margin-bottom: 0px;
  border-width: 0;
  color: #444;
}

#inscription_born_at_input select {
  width: 100%;
}

.dl-horizontal dt {
  width: 60px;
}

.dl-horizontal dd {
  margin-left: 80px;
}

.formtastic .stringish input, .formtastic .text textarea, .formtastic select {
  width: 40%;
  margin-left: 1em;
}

.formtastic .input .label, #inscription_born_at_input legend {
  text-align: right;
}

.formtastic .buttons, .formtastic .actions {
  padding-left: 0;
}

.formtastic .btn {
  font-weight: 700;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
}

.formtastic .btn-nested {
  margin-top: 2em;
  margin-left: 8em;
}

.formtastic .fragments .label label {
  width: 26%;
  text-align: right; 
}

.formtastic .nested-fields {
  .input {
    margin: 0px;
    padding: 0px;
  }
  .col-md-4 {
    text-align: center;
  }
  li {
    list-style-type: none;
  }
}

.formtastic .nested-fields.title {
  margin-bottom: 10px;
}

.formtastic ol, .formtastic ul, .formtastic li {
  list-style-type: none;
}

.juventud .col-md-5 {
  height: 225px;
}

.audiencia .list-group-item {
  width: 20%;
  float: left;
}

.formtastic #inscription_appointed_at_input .label {
  display: none;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color: #2F9B45 !important;
  border-color: #2F9B45 !important;
}
